
PORT=8080
IS_PRODUCTION=false
BASE_URL=http://localhost:8080

# Database Configuration
DB_USER=postgres
DB_PASS=password
DB_NAME=todoproject
DB_HOST=localhost
DB_PORT=5432
DB_TIME_ZONE=Asia/Jakarta

# Token Configuration
ACCESS_TOKEN_LIFE_TIME=3600
REFRESH_TOKEN_LIFE_TIME=86400
PRIVATE_KEY=private_key.pem
PUBLIC_KEY=public_key.pem

# Rate Limiting
RATE_LIMIT_RPS=10
RATE_LIMIT_BURST=20
